
<div class="card">
<div class="card-head">File Upload</div>
<div class="container">
  <!-- Section de l'image -->
  <div class="image-container">
      <img id="uploadedImage" src="assets/image/uploadlogo.png" alt="Uploaded Image">
  </div>

  <!-- Section de téléchargement -->
  <div class="upload-container">
      <h2>Télécharger un Fichier</h2>
      <div class="upload-section">
          <label for="fileInput">Choisir un fichier :</label>
          <input type="file" id="fileInput">
      </div>
      <div class="upload-section">
          <button onclick="uploadFile()">Télécharger</button>
      </div>
  </div>
</div>
</div>