<div class="body">
<div class="card">
    <div class="card-head">Recettes disponibles</div>
    <div class="card-body">
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Recette</th>
                <th>Description</th>
                <th>Ingrédients</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Omelette aux champignons</td>
                <td>Omelette riche et moelleuse aux champignons frais et herbes.</td>
                <td>Œufs, champignons, lait, beurre, sel, poivre, herbes</td>
                <td>220</td>
            </tr>
            <tr>
                <td>Smoothie aux fruits</td>
                <td>Smoothie frais et nourrissant aux fruits de saison et yaourt.</td>
                <td>Banane, fraises, myrtilles, yaourt grec, miel</td>
                <td>180</td>
            </tr>
            <tr>
                <td>Pancakes aux myrtilles</td>
                <td>Pancakes moelleux garnis de myrtilles fraîches et sirop d'érable.</td>
                <td>Farine, lait, œufs, levure, myrtilles, sirop d'érable</td>
                <td>350</td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
</div>
</div>