
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: color #f5f5f5;;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  mat-checkbox {
    margin: 20px 0;
  }
  
 
  
  .login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .login-button {
    background-color: #ff9800; /* Orange */
    color: white; /* Texte blanc */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Ajustement de la taille du bouton pour mieux voir l'arrondi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère pour un effet 3D */
    border: none; /* Enlever toute bordure par défaut */
  }
  
  .login-button:hover {
    background-color: #e68900; /* Un orange légèrement plus foncé au survol */
  }
    
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar .login-buttonn a {
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .navbar .login-buttonn a:hover {
    background-color: darkorange;
  }
  