<div class="container">
    <h2>Add New Offer</h2>
    <form >
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price" class="form-control" placeholder="Enter price">
      </div>
      <div >
        <p>Contenu du l'offer<br></p>
        <input type="checkbox" >
        <label for="content">calculateurD</label><br>
        <input type="checkbox" >
        <label for="content">calculateurP</label><br>
        <input type="checkbox" >
        <label for="content">ficheP</label><br>
        <input type="checkbox" >
        <label for="content">book</label><br>
        <input type="checkbox" >
        <label for="content">carnetE</label><br>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/offers">Submit</button>
    </form>
  </div>
  