.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .button:disabled {
    background-color: #ccc;
  }
  .flex-container {
    display: flex;
    align-items: center;
  }
  
  .title {
    flex: 1;
  }
  
  .add-offers {
    margin-right: 10px;
  }
  
  .checklist-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .checklist-label {
    margin-right: 10px;
  }
  
  .checkbox {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  