<div class="card">
    <div class="card-head">ebook
        <div style="display: flex; align-items: center;margin-right: 10px;">
            <h5 style="margin-right: 5px;"><a routerLink="/addRecette">Add Recette </a></h5>
            <i class="product-add fal fa-plus" style="font-size: 1.25rem; "></i>
          </div> 
    </div>
  
    <div class="card-body">
        
        <div class="card-container">
            <div class="card">
              <img src="assets/image/petit-dejeuner.png" alt="Petit Déjeuner">
              <div class="card-body">
                <h3>Petit Déjeuner</h3>
                <p>Commencez votre journée avec énergie.</p>
                <h5 style="margin-right: 10px;"><a routerLink="/petitDej">Suivre</a></h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/image/le-dejeuner.png" alt="Déjeuner">
              <div class="card-body">
                <h3>Déjeuner</h3>
                <p>Un repas équilibré pour continuer la journée.</p>
                <h5 style="margin-right: 10px;"><a routerLink="/dejeuner">Suivre</a></h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/image/diner-de-noel.png" alt="Dîner">
              <div class="card-body">
                <h3>Dîner</h3>
                <p>Terminez votre journée avec un dîner délicieux.</p>
                <h5 style="margin-right: 10px;"><a routerLink="/diner">Suivre</a></h5>
              </div>
            </div>
            <div class="card">
              <img src="assets/image/tacos.png" alt="Collation">
              <div class="card-body">
                <h3>Collation</h3>
                <p>Idéale pour un coup de boost en milieu de journée.</p>
                <h5 style="margin-right: 10px;"><a routerLink="/collations">Suivre</a></h5>
              </div>
            </div>
          </div>
          
       
    </div>
</div>