<div class="body">
<div class="card">
    <div class="card-head">Recettes disponibles</div>
    <div class="card-body">
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Recette</th>
                <th>Description</th>
                <th>Ingrédients</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Salade Niçoise</td>
                <td>Salade fraîche avec thon, œufs durs, olives noires et légumes.</td>
                <td>Thon, œufs, tomates, olives noires, haricots verts, vinaigrette</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Sandwich au poulet grillé</td>
                <td>Sandwich nourrissant avec poulet grillé, laitue, tomate et sauce légère.</td>
                <td>Poulet grillé, pain complet, laitue, tomate, mayonnaise allégée</td>
                <td>450</td>
            </tr>
            <tr>
                <td>Pasta Primavera</td>
                <td>Pâtes aux légumes de saison avec une sauce légère à l'ail et au basilic.</td>
                <td>Pâtes, courgettes, poivrons, tomates cerises, ail, basilic</td>
                <td>500</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>