<div class="body">

<div class="container">
    <h1>Statistiques</h1>
    <div class="statistics">
        <table class="table">
            <thead>
              <tr>
                <th>Nom de client</th>
                <th>offer</th>
                <th>date de fin d'offer</th>
                <th>Calculateur Diététique</th>
                <th>Calculateur Progression</th>
                <th>Taille (cm)</th>
                <th>Niveau d'Activité</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ahmed jomaa</td>
                    <td>35</td>
                    <td>80</td>
                    <td><h5 style="margin-right: 10px;"><a routerLink="/CalculateurDietetique">Suivre</a></h5></td>
                    <td>  <h5 style="margin-right: 10px;"><a routerLink="/CalculateurProgression">Suivre</a></h5></td>
                    <td>180</td>
                    <td>Moderée</td>
                  </tr>   
                   <tr>
                    <td>nihel sliti</td>
                    <td>35</td>
                    <td>80</td>
                    <td>  <h5 style="margin-right: 10px;"><a routerLink="/CalculateurDietetique">Suivre</a></h5></td>
                    <td>  <h5 style="margin-right: 10px;"><a routerLink="/CalculateurProgression">Suivre</a></h5></td>
                    <td>180</td>
                    <td>Moderée</td>
                  </tr>    
                  <tr>
                    <td>rania rezgui </td>
                    <td>35</td>
                    <td>80</td>
                    <td>  <h5 style="margin-right: 10px;"><a routerLink="/CalculateurDietetique">Suivre</a></h5></td>
                    <td>  <h5 style="margin-right: 10px;"><a routerLink="/CalculateurProgression">Suivre</a></h5></td>
                    <td>180</td>
                    <td>Moderée</td>
                  </tr>
              <tr>
                <td>karima miaoui</td>
                <td>29</td>
                <td>65</td>
                <td>  <h5 style="margin-right: 10px;"><a routerLink="/CalculateurDietetique">Suivre</a></h5></td>
                <td>   <h5 style="margin-right: 10px;"><a routerLink="/CalculateurProgression">Suivre</a></h5></td>
                <td>165</td>
                <td>Élevée</td>
              </tr>
              <!-- Ajoutez plus de lignes ici selon les données disponibles -->
            </tbody>
          </table>
       

      
    </div>
</div>
</div>